.wrapper-for-content-outside-of-footer {
  height: 100%;
  height: auto !important;
  margin: 0 auto -4em;
  min-height: 100%;
}

html,
body {
  height: 100%;
}

.wrapper-for-content-outside-of-footer::after {
  content: '';
  display: block;
}

footer,
.wrapper-for-content-outside-of-footer::after {
  height: 10em;

  @include media($large-screen) {
    height: 4em;
  }
}
