{% extends 'base.html' %}

{% block main %}
<h1>Contact Us</h1>

<form class="contact-form" action="" method="">
  <label for="firstname">First Name:</label>
  <input type="text" name="firstname" value="">
  <label for="lastname">Last Name:</label>
  <input type="text" name="lastname" value="">
  <label for="email">Email:</label>
  <input type="text" name="email" value="">
  <label for="message">Leave a message:</label>
  <textarea name="message" rows="8" cols="40"></textarea>
  <input type="submit" name="submit" value="Submit">
</form>

{% endblock main %}
